<!-- SQS_HBS/base.html -->

{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Usual meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
    <!-- Progressive Web App - PWA -->
    {% progressive_web_app_meta %}
    {% comment %} <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link
      rel="apple-touch-icon"
      href="{% static 'icons/icon_panda-192x192.png' %}"
    /> {% endcomment %}

    <!-- Bulma CSS framework -->
    {% load django_simple_bulma %} {% bulma %} {% comment %} {% font_awesome %}
    {% endcomment %}

    <title>{% block title %} SQS-HBS {% endblock title %}</title>
  </head>

  <body>
    <!-- Top banner section -->
    <section class="hero is-primary mb-4">
      <div class="hero-body">
        <h1 class="title is-1 has-text-centered">My Dashboard</h1>
      </div>
    </section>

    <!-- Content section -->
    <section class="section">
      <div class="container">{% block content %}{% endblock content %}</div>
    </section>

  </body>
</html>
