<!-- SQS_HBS/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Usual meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
        <!-- Progressive Web App - PWA -->
        <link rel="manifest" href="{% static 'manifest.json' %}" />
        <meta name="theme-color" content="#ff0000" />
        <link rel="apple-touch-icon" href="{% static 'icons/icon_panda-192x192.png' %}" />

        <!-- Bulma CSS framework -->
        {% load django_simple_bulma %}
        {% bulma %}
        {% comment %} {% font_awesome %} {% endcomment %}

        <title>{% block title %} SQS-HBS {% endblock title %}</title>
    </head>

    <body>
        <!-- Content sections -->
        {% block content %}{% endblock content %}

        <script type="text/javascript">
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker
                    .register("/sw.js")
                    .then((registration) => {
                    console.log("SW registration succeeded:", registration);
                    navigator.serviceWorker.ready
                        .then(function (registration) {
                        console.log("SW is active:", registration.active);
                    });
                })
                    .catch((error) => {
                    console.log("SW registration failed: ", error);
                });
            }
            else {
                console.log("This browser does not support the SW API")
            }
        </script>
    </body>
</html>
