<!-- dashboard/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
    <link rel="manifest" href="{% static 'dashboard/manifest.json' %}" />
    <link
      rel="apple-touch-icon"
      href="{% static 'dashboard/images/icons/icon-192x192.png' %}"
    />

    <!-- Include the Bulma CSS framework for styling -->
    {% load django_simple_bulma %} {% bulma %} {% comment %} {% font_awesome %}
    {% endcomment %}

    <title>{% block title %} SQS-HBS {% endblock title %}</title>
  </head>

  <body>
    <!-- Top banner section -->
    <section class="hero is-primary mb-4">
      <div class="hero-body">
        <h1 class="title is-1 has-text-centered">My Dashboard</h1>
      </div>
    </section>

    <!-- Content section -->
    <section class="section">
      <div class="container">{% block content %} {% endblock content %}</div>
    </section>
  </body>
</html>
