<!-- dashboard/home.html -->

{% extends 'dashboard/base.html' %} {% block title %} Mon Tableau de Bord
{%endblock %} {% block content %}
<!-- from here we are in a <div class="container"> -->

<p>Bienvenue sur ton interface personnelle, {{ user.username }}!</p>
<br />

{% if request.user|is_integrated_with_fitbit %}

<p>Tes tokens d'authentication Fitbit sont correctement enregistrés :)</p>
<br />

<h2 class="subtitle is-3">Reading data test</h2>
Okay <b>{{ tsds.0.user }}</b>, here is your data for the
<b>{{ tsds.0.date }}</b>: <br />
{% for tsd in tsds %}<br />
{{ tsd.resource_type.resource }} = {{ tsd.value}}<br />
{% endfor %}

<br />
{% else %} Il faut commencer par
<a href="{% url 'fitbit-login' %}">t'authentifier auprès de Fitbit</a>.
{%endif%}
<br />
<br />
<div>
  <a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock %}
