<!-- dashboard/home.html -->

{% extends 'base.html' %}

{% block title %} Mon Tableau de Bord {% endblock %}

{% block content %}

    <div class="content">

        <h5 class="subtitle is-5 has-text-grey-light">Bonjour {{ user.username }} :)</h5>

        <div class="box">

            {% if request.user|is_integrated_with_fitbit %}
                <p>Tes tokens d'authentication Fitbit sont correctement enregistrés :)</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis elementum aliquam mauris.
                    Cras rutrum mauris non mi lacinia sollicitudin.
                </p>
                </div>

                </div>

                <br />
                <br />
                <h2 class="subtitle is-3">Reading data test</h2>
                Okay <b>{{ tsds.0.user }}</b>, here is your data for the
                <b>{{ tsds.0.date }}</b>: <br />

                {% for tsd in tsds %}<br />
                    {{ tsd.resource_type.resource }} = {{ tsd.value}}<br />
                {% endfor %}

                <br />
                <br />
                <div class="content">
                    <div class="box">
                        <h5 class="subtitle is-5 has-text-grey-light">Titre article</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Quisque tincidunt lectus ut dolor malesuada laoreet.
                            Curabitur interdum quam arcu, molestie rutrum purus viverra eu.
                            Vestibulum mattis nibh nec sodales sagittis.
                            Suspendisse interdum nulla ipsum, et facilisis sapien aliquet ac.
                            Suspendisse potenti.
                            Vestibulum interdum ex eget pharetra condimentum.
                            Quisque non augue in velit placerat viverra accumsan vitae leo.
                            Aenean ac gravida nisi, id aliquet mauris.
                            Suspendisse venenatis nisl pulvinar elementum interdum.
                            Vivamus et ligula urna.
                            Aliquam erat volutpat.
                            Aenean ligula eros, porttitor eu mollis id, faucibus eget massa.
                            Nunc porttitor odio nunc, nec consectetur ipsum accumsan facilisis.
                            Vivamus aliquam eu ante non gravida.
                            Ut ullamcorper nisi nec interdum hendrerit.
                        </p>
                    </div>
                </div>

            {% else %} Il faut commencer par <a href="{% url 'fitbit-login' %}">t'authentifier auprès de Fitbit</a>.

            {% endif %}
            {% comment %} <br />
            <div>
                <a href="{% url 'logout' %}">Logout</a>
            </div> {% endcomment %}

        </div>

{% endblock %}
